<h1 class="text-white text-center p-5">CARRITO</h1>

<div class="cards_container d-flex flex-wrap justify-content-center gap-3">
    {{#each payload}}
    <div class="card bg-dark text-white" style="width: 18rem;">
        <img src="{{this.thumbnail}}" class="card-img-top" alt="...">
        <div class="card-body h-50">
            <h5 class="card-title h3">{{this.title}}</h5>
            <p class="card-text">{{this.description}}</p>
            <p class="card-text h4">${{this.price}}</p>
            <a href="#" class="btn btn-danger">Eliminar</a>
        </div>
    </div>
    {{/each}}
</div>