
<div class="p-5 text-white w-50 m-auto">
    <h1 class="text-center">CHAT</h1>
    <form class="m-auto" id="formMessage">
        <div class="mb-3">
            <label for="user" class="form-label">Email</label>
            <input type="email" class="form-control" id="user" name="user" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="message" class="form-label">Mensaje</label>
            <textarea name="message" rows="5" class="w-100" id="message"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
    <hr>
    <div id="chat">
        <p>Aca va el chat</p>
    </div>
</div>