<div class="form-container text-white d-flex flex-column justify-content-center align-items-center">

    <h1 class="p-5">REGISTRAR</h1>

    <form action="/auth/register" method="POST" class="w-25 m-auto">
        <div class="mb-3">
            <label for="firstname" class="form-label">Nombre</label>
            <input type="text" class="form-control" name="firstname" id="firstname" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="lastname" class="form-label">Apellido</label>
            <input type="text" class="form-control" name="lastname" id="lastname" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="password">
        </div>
        <button type="submit" class="btn btn-primary">Registrar</button>
        <a class="btn btn-success" href="login">Ya tengo una cuenta</a>
    </form>
</div>